{% extends 'layout.twig' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1 class="display-4 text-danger">Oops!</h1>
                <p class="lead">Parece que algo deu errado.</p>
                <p>A URL que você tentou acessar não pôde ser encontrada. Talvez o link esteja incorreto ou expirado.</p>

                <div class="mt-4 d-grid">
                    <a href="/" class="btn btn-primary btn-lg">Encurtar outra URL</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
