{% extends 'layout.twig' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1 class="display-4 text-warning">401</h1>
                <p class="lead">Não autorizado</p>
                <p>Você não tem permissão para acessar esta página. Por favor, verifique suas permissões ou entre em contato com o administrador.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
